header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  border-color: peru;
  border-width: 2px;
  border-style: dotted;
  flex-wrap: wrap;
  background: #ccc;
}

header h1 {
  margin: 0;
  flex-shrink: 1;
}

header form {
  border: 1px solid black;
  flex-shrink: 1;
}

header .projet {
  display: flex;
  flex-direction: column;
}

article {
  display: flex;
  justify-content: flex-start;
  padding-left: 1em;
}

@media screen and (max-width: 425px) {
  body {
    background: red;
  }
  article {
    flex-direction: column;
  }
}

.card {
  flex-basis: 240px;
  flex-grow: 0;
  margin-right: 1em;
  flex-shrink: 0;
}

.picture {
  width: 100%;
}

.card h2 {
  overflow: hidden;
}
