body {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  display: flex;
  justify-content: space-between;

  padding: 1rem;
  border-color: peru;
  border-width: 2px;
  border-style: dotted;

  background: #ccc;
}

header h1 {
  margin: 0;
  flex-basis: 30%;
  flex-shrink: 1;
}

header p {
  flex-basis: 30%;
  flex-shrink: 1;
}

article {
  display: flex;
  justify-content: flex-start;
  padding-left: 1em;
}

@media screen and (max-width: 426px) {
  body {
    background: red;
  }
  article {
    flex-direction: column;
  }
}

.card {
  flex-basis: 30%;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 1em;
}

.picture {
  max-width: 100%;
}
.picture img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.card h2 {
  min-height: 3em;
  margin-bottom: 0;
}
.card h2 a {
  text-decoration: none;
}
.card h2 a:hover,
.card h2 a:focus {
  text-decoration: underline;
}

.card .favori {
  position: absolute;
}
.card .favori button {
  font-size: 3em;
  background: transparent;
  border: none;
  position: relative;
  left: 170px;
}
